{% extends 'base.html' %}

{% block title %}
Author  
{% endblock %}

{% block content %}
      <!-- CONTENT -->
      <div class="container author_content">
          <div>
            <img src="../../static/img/author/author.jpg">
          </div>
          <div>
            <h3>Agung Aji Nugroho</h3>
            <p><b>Please Write your Summary, </b> Dolor Sit Amel. Lorem Ipsum Dolor Sit Amel. Lorem Ipsum Dolor Sit Amel. Lorem Ipsum Dolor Sit Amel. Lorem Ipsum Dolor Sit Amel. Lorem Ipsum Dolor Sit Amel. Lorem Ipsum Dolor Sit Amel. Lorem Ipsum Dolor Sit Amel.</p>
            <p>Alamat: Jalan Kepodang D2. No 13 Perum Mustika Raya 1</p>
            <p>Telephone: 0812 2470 3705</p>
            <p>Education: Bachelor Degree of Petroleum Engineering</p>
            <p>Profession: Tech Talent</p>
            <p>Nationality: Indonesia</p>
            <p>Email: nugroho@alterra.id</p>
            <p>Address: Auhtors Address</p>
          </div>
          <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.314233480309!2d112.60827644994765!3d-7.966441481578342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa%20Lodge%20Malang!5e0!3m2!1sen!2sid!4v1575984562589!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
      </div>

    {% endblock %}