{% extends 'base.html' %}

{% block title %}
Home 
{% endblock %}

{% block content %}
    <section>
        <div class="container">
                <div class="home_content1">
                    <div class="home_content_baru">
                            <div class="row">
                                    <div class="col-md-5">
                                        <img src="../../static/img/home/benefit.png">
                                    </div>
                                    <div class="col-md-7">
                                        <h4>Learn awesome tech</h4>
                                        <p>You will learn about programming language, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, built client-site apps using React Library, etc.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="../../static/img/home/search-job.png">
                                    </div>
                                    <div class="col-md-7">
                                        <h4>Land new job</h4>
                                        <p>If you pass this awesome program, you wil be part of our reliable tech team for especially Software Engineer position and other tech position as Quality Engineer, System Analyst, etc.</p>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-5">
                                            <img src="../../static/img/home/get-paid.png">
                                        </div>
                                        <div class="col-md-7">
                                            <h4>Get paid to learn</h4>
                                            <p>Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things veven better, you will receive pocket money just for participating. Cool, right?</p>
                                        </div>
                                </div>
                                <div class="row home_content2">
                                    <div class="col-md-5">
                                        <img src="../../static/img/home/mission.png">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="home_content2_1">
                                            <h3>Who are we?</h3>
                                            <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not even an IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia</p>
                                        </div>
                                        <div>
                                            <h3>What is our mission?</h3>
                                            <p>We want to improve capability Tech Talent in Indonesia</p>
                                        </div>
                                        
                                    </div>
                                </div>
                    </div>
                    
                    <div class="home_content_3">
                        <div class="row home_content_3_1">
                            <h3>What will you learn?<h3>
                        </div>
                        <div class="row home_content_3_2">
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-html.png" class="home_content_3_2_1">
                            </div>
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-programming.png" class="home_content_3_2_2">
                            </div>
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-git.png" class="home_content_3_2_3">
                            </div>
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-api.png" class="home_restapi">
                            </div>
                        </div>
                        <div class="row home_content_3_2">
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-react.png" class="home_content_3_2_5">
                            </div>
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-tdd.png" class="home_content_3_2_6">
                            </div>
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-server.png" class="home_content_3_2_7">
                            </div>
                            <div class="col-md-3">
                                <img src="../../static/img/home/learn-scrum.png" class="home_content_3_2_8">
                            </div>
                        </div>
                    </div>
                    
                </div>   
        </div>     
    </section>
    {% endblock %}

