{% extends 'base.html' %}

{% block title %}
Blog   
{% endblock %}

{% block content %}
{% for id in ids %}
    <!-- CONTEN -->
    <div class="container blog_content">
      <div class="article">
        <div>
            <img src="{{id.foto}}">
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>September 25, 2018</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <h6>0 Comment</h6>
          </div>
        </div>
        <div>
          <h1>{{id.judul}}</h1>
          <p>{{id.isi |safe|truncatewords:"30"|linebreaks }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}